.imgContainer {
    padding: 0px; /* make responsive later */
    /* margin: 100px; */
}
.imgContainer > img {
    max-width: 100%;
    max-height: 100%;
}
#timePassed {
    position: absolute;
    margin: 0px;
    padding: 5px;
}
